/* CSS declarations go here */
html {
	margin: 0;
}

#render-target{
	height: 100%;
	margin: 0;
}

.container {
	display: flex;
}

.cols {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.rows {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.flex-1 {
	flex: 1;
}

.flex-space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.col-3 {
	width: 25%;
}

.col-9 {
	width: 75%;
}

/* 		*/
/* Chat */
/* 		*/

/* Header */
header{
	-webkit-box-pack: flex-start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: flex-start;
	justify-content: flex-start;
}

header h1{
	text-transform: uppercase;
	color: #8B8386;
	padding-left: 20px;	
	font-size: 1.5em;
	font-weight: 400;
}

/* Sidebar user list */
aside {
	float: left;
	position: relative;
	width: 20%;
	height: 90vh;
	border-right: 1px solid #f1f1f1;
	background: #f8f8f8;
	padding: 15px 15px 15px 15px;
}

aside p{
	margin-left: 5px;
	text-overflow:ellipsis;
}

aside #usersOnline {
	text-align: center;
	margin-top: 0;
}

.userList{
	min-height: 95%;
	overflow-y: scroll;	
}

.user {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
}

.user i{
	display: inline-block;
}

.user p{
	margin: 0 0 0 0;
	display: inline-block;
	margin-left: 10px;
}

/* Posts list and input */
.postsArea {
	overflow-y: scroll;
	padding-left: 10px;
	height: 85vh;
}

.post {
	margin-top: 5px;
	border-bottom: 1px solid #f1f1f1;
	flex: 0 0 auto;
	display: flex;
}

.post i {
	display: block;
	margin-right: 10px;
	transform: translateY(30%);
}

.postContent h3 {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 0;
}

.postContent .postTime {
	margin-top: 5px;
	margin-bottom: 0;
	font-style: italic;
	display: inline-block;
	color: #8B8386;
	padding-left: 5px;
}

.postAuthor {
	
}

.postTime {
	
}

.postContent p {
	text-indent: 10px;
	margin-top: 5px;
}

/* Input */
.postForm input{
	height: auto;
}

.postForm {
	padding: 20px 20px 20px 20px;
}

input[type="text"]{
    padding: 0 .4em;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    border-radius: 0;
}

.button-primary {
	padding: 0.6em 1.2em;
	background: #31D8A0;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	transition: background 0.2s;
	margin-left: 20px;
}

.button-primary:hover {
	background: #27C895;
	color: #ffffff;
}