/* CSS declarations go here */
html{
	height: 100%;
}

/* 		*/
/* Chat */
/* 		*/

/* Header */
header{
	height: 3vh;
	width: 100%;
	border-bottom: 1px solid #f1f1f1;
	padding-bottom: 10px;
}

header h1{
	text-transform: uppercase;
	color: #8B8386;
	margin-left: 20px;	
	font-size: 1.5em;
	font-weight: 400;
}

/* Sidebar user list */
aside {
	float: left;
	width: 200px;
	height: 90vh;
}

aside p{
	margin-left: 5px;
	text-overflow:ellipsis;
}

/* Posts list and input */
.postsArea {
	margin-left: 200px;
}

.postAuthor {
	
}

.postTime {
	
}

.post p {

}